services:
  backend:
    build: ./back
    container_name: backend
    ports:
      - "5001:5001"
    environment:
      - MONGO_URI=mongodb://mongo:27017/todo

  frontend:
    build: ./front
    container_name: frontend
    depends_on:
      - backend

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
